=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

=transform($transforms)
	-moz-transform: $transforms
	-o-transform: $transforms
	-ms-transform: $transforms
	-webkit-transform: $transforms
	transform: $transforms

=transform-origin($transforms)
	-moz-transform-origin: $transforms
	-o-transform-origin: $transforms
	-ms-transform-origin: $transforms
	-webkit-transform-origin: $transforms
	transform-origin: $transforms

=rotate($deg)
	@include transform(rotate(#{$deg}deg))

=shadow($top, $left, $distance, $blur, $color)
	-webkit-box-shadow: $top $left $distance $blur $color
	-moz-box-shadow: $top $left $distance $blur $color
	box-shadow: $top $left $distance $blur $color

=shadow-inset($top, $left, $distance, $blur, $color, $inset:"")
	-webkit-box-shadow: $top $left $distance $blur $color #{$inset}
	-moz-box-shadow: $top $left $distance $blur $color #{$inset}
	box-shadow: $top $left $distance $blur $color #{$inset}

=placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder /* Firefox 18- */
		@content
	&::-moz-placeholder /* Firefox 19+ */
		@content
	&:-ms-input-placeholder
		@content

=opacity($opacity)
	-webkit-opacity: ($opacity)
	-moz-opacity: ($opacity)
	-khtml-opacity: ($opacity)
	opacity: ($opacity)
	$opacity-ie: $opacity * 100
	filter: alpha(opacity=$opacity-ie)

=bg-gradient($first-color,$second-color)
	background: $first-color
	background: -moz-linear-gradient(top, $first-color 0%, $second-color 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $first-color), color-stop(100%, $second-color))
	background: -webkit-linear-gradient(top, $first-color 0%, $second-color 100%)
	background: -o-linear-gradient(top, $first-color 0%, $second-color 100%)
	background: -ms-linear-gradient(top, $first-color 0%, $second-color 100%)
	background: linear-gradient(to bottom, $first-color 0%, $second-color 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$first-color}, endColorstr=#{$second-color}, GradientType=0)

=bg-gradient-vertical($first-color,$second-color)
	background: $first-color
	background: -moz-linear-gradient(left, $first-color 0%, $second-color 100%)
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, $first-color), color-stop(100%, $second-color))
	background: -webkit-linear-gradient(left, $first-color 0%, $second-color 100%)
	background: -o-linear-gradient(left, $first-color 0%, $second-color 100%)
	background: -ms-linear-gradient(left, $first-color 0%, $second-color 100%)
	background: linear-gradient(to right, $first-color 0%, $second-color 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$first-color}, endColorstr=#{$second-color}, GradientType=0)

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

=respondTo($media)
	@if $mediaQueriesEnabled
		@media #{$media}
			@content

=respond($media)
	@include respondTo($media)
		@content

=breakpoint($max: 0px, $min: 0px, $media: all, $orientation: '')
	@if $min > 0px
		$media: $media + ' and (min-width: '+$min+')'
	@if $max > 0px
		$media: $media + ' and (max-width: '+$max+')'
	@if $orientation != ''
		$media: $media + ' and (orientation: '+$orientation+')'
	@include respondTo($media)
		@content

=transition($transition...)
	-moz-transition: $transition
	-o-transition: $transition
	-webkit-transition: $transition
	transition: $transition


@mixin keyframes($animation-name)
	@-webkit-keyframes  #{$animation-name}
		@content
	@-moz-keyframes #{$animation-name}
		@content
	@keyframes #{$animation-name}
		@content

@mixin animation($str)
	-webkit-animation: #{$str}


=calc($property, $expression)
	#{$property}: -webkit-calc(#{$expression})
	#{$property}: calc(#{$expression})
