*
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box

html, button, input, select, textarea
	color: #222

body
	font-size: 1em
	line-height: 1.4

\::-moz-selection, ::selection
	background: #b3d4fc
	text-shadow: none

hr
	display: block
	height: 1px
	border: 0
	border-top: 1px solid #ccc
	margin: 1em 0
	padding: 0

img
	vertical-align: middle
	max-width: 100%
	height: auto

fieldset
	border: 0
	margin: 0
	padding: 0

textarea
	resize: vertical

.ir
	background-color: transparent
	border: 0
	overflow: hidden
	/* IE 6/7 fallback
	*text-indent: -9999px
	&:before
		content: ""
		display: block
		width: 0
		height: 150%

.hidden
	display: none !important
	visibility: hidden

.visuallyhidden
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px
	&.focusable
		&:active, &:focus
			clip: auto
			height: auto
			margin: 0
			overflow: visible
			position: static
			width: auto

.invisible
	visibility: hidden

.clearfix
	&:before
		content: " "
		display: table
	&:after
		content: " "
		display: table
		clear: both
	*zoom: 1

@media print
	*
		background: transparent !important
		color: #000 !important
		box-shadow: none !important
		text-shadow: none !important
	a
		text-decoration: underline
		&:visited
			text-decoration: underline
		&[href]:after
			content: " (" attr(href) ")"
	abbr[title]:after
		content: " (" attr(title) ")"
	.ir a:after
		content: ""
	a
		&[href^="javascript:"]:after, &[href^="#"]:after
			content: ""
	pre, blockquote
		border: 1px solid #999
		page-break-inside: avoid
	thead
		display: table-header-group
	tr
		page-break-inside: avoid
	img
		page-break-inside: avoid
		max-width: 100% !important
	@page
		margin: 0.5cm

	p, h2, h3
		orphans: 3
		widows: 3
	h2, h3
		page-break-after: avoid

