@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff2") format("woff2"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e903"; }

.icon-arrow-left:before {
  content: "\e902"; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-menu:before {
  content: "\e901"; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, button, input, select, textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection, ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after {
    content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%; }

/* 2 */
/**
 * Remove default margin. */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline; }

/* 2 */
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

/**
 * Improve readability when focused and also mouse hovered in all browsers. */
/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers. */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers. */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0; }

/* 3 */
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
  text-transform: none; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer; }

/* 3 */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer; }

/* 3 */
/**
 * Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal;
  /* 2 */ }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof). */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
/**
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0; }

/* 2 */
/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul.grid {
  margin: 0;
  padding: 0;
  list-style: none; }

.grid {
  font-size: 0; }
  .grid > div, .grid > li {
    margin: 0; }
  .grid .col-1 {
    width: 100%; }
  .grid .col-2 {
    width: 50%; }
  .grid .col-3 {
    width: 33.33333%; }
  .grid .col-3x2 {
    width: 66.66667%; }
  .grid .col-4 {
    width: 25%; }
  .grid .col-4x2 {
    width: 50%; }
  .grid .col-4x3 {
    width: 75%; }
  .grid .col-5 {
    width: 20%; }
  .grid .col-5x2 {
    width: 40%; }
  .grid .col-5x3 {
    width: 60%; }
  .grid .col-5x4 {
    width: 80%; }
  .grid .col-6 {
    width: 16.66667%; }
  .grid .col-6x2 {
    width: 33.33333%; }
  .grid .col-6x3 {
    width: 50%; }
  .grid .col-6x4 {
    width: 66.66667%; }
  .grid .col-6x5 {
    width: 83.33333%; }
  .grid .col-7 {
    width: 14.28571%; }
  .grid .col-7x2 {
    width: 28.57143%; }
  .grid .col-7x3 {
    width: 42.85714%; }
  .grid .col-7x4 {
    width: 57.14286%; }
  .grid .col-7x5 {
    width: 71.42857%; }
  .grid .col-7x6 {
    width: 85.71429%; }
  .grid .col-8 {
    width: 12.5%; }
  .grid .col-8x2 {
    width: 25%; }
  .grid .col-8x3 {
    width: 37.5%; }
  .grid .col-8x4 {
    width: 50%; }
  .grid .col-8x5 {
    width: 62.5%; }
  .grid .col-8x6 {
    width: 75%; }
  .grid .col-8x7 {
    width: 87.5%; }
  .grid .col-9 {
    width: 11.11111%; }
  .grid .col-9x2 {
    width: 22.22222%; }
  .grid .col-9x3 {
    width: 33.33333%; }
  .grid .col-9x4 {
    width: 44.44444%; }
  .grid .col-9x5 {
    width: 55.55556%; }
  .grid .col-9x6 {
    width: 66.66667%; }
  .grid .col-9x7 {
    width: 77.77778%; }
  .grid .col-9x8 {
    width: 88.88889%; }
  .grid .col-10 {
    width: 10%; }
  .grid .col-10x2 {
    width: 20%; }
  .grid .col-10x3 {
    width: 30%; }
  .grid .col-10x4 {
    width: 40%; }
  .grid .col-10x5 {
    width: 50%; }
  .grid .col-10x6 {
    width: 60%; }
  .grid .col-10x7 {
    width: 70%; }
  .grid .col-10x8 {
    width: 80%; }
  .grid .col-10x9 {
    width: 90%; }
  .grid .col-11 {
    width: 9.09091%; }
  .grid .col-11x2 {
    width: 18.18182%; }
  .grid .col-11x3 {
    width: 27.27273%; }
  .grid .col-11x4 {
    width: 36.36364%; }
  .grid .col-11x5 {
    width: 45.45455%; }
  .grid .col-11x6 {
    width: 54.54545%; }
  .grid .col-11x7 {
    width: 63.63636%; }
  .grid .col-11x8 {
    width: 72.72727%; }
  .grid .col-11x9 {
    width: 81.81818%; }
  .grid .col-11x10 {
    width: 90.90909%; }
  .grid .col-12 {
    width: 8.33333%; }
  .grid .col-12x2 {
    width: 16.66667%; }
  .grid .col-12x3 {
    width: 25%; }
  .grid .col-12x4 {
    width: 33.33333%; }
  .grid .col-12x5 {
    width: 41.66667%; }
  .grid .col-12x6 {
    width: 50%; }
  .grid .col-12x7 {
    width: 58.33333%; }
  .grid .col-12x8 {
    width: 66.66667%; }
  .grid .col-12x9 {
    width: 75%; }
  .grid .col-12x10 {
    width: 83.33333%; }
  .grid .col-12x11 {
    width: 91.66667%; }
  .grid > div, .grid > li {
    font-size: 14px;
    font-size: initial;
    display: inline-block;
    vertical-align: top; }
  .grid.grid-middle > div, .grid.grid-middle > li {
    vertical-align: middle; }
  .grid.grid-equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .grid.grid-equal > div, .grid.grid-equal > li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: -1px; }
      .grid.grid-equal > div > *, .grid.grid-equal > li > * {
        width: 100%; }
    .grid.grid-equal.align-center {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.grid.grid-10 {
  margin-left: -10px; }
  .grid.grid-10 > div, .grid.grid-10 > li {
    padding-left: 10px; }

.grid.grid-20 {
  margin-left: -20px; }
  .grid.grid-20 > div, .grid.grid-20 > li {
    padding-left: 20px; }

.grid.grid-30 {
  margin-left: -30px; }
  .grid.grid-30 > div, .grid.grid-30 > li {
    padding-left: 30px; }

.grid.grid-40 {
  margin-left: -40px; }
  .grid.grid-40 > div, .grid.grid-40 > li {
    padding-left: 40px; }

.grid.grid-60 {
  margin-left: -60px; }
  .grid.grid-60 > div, .grid.grid-60 > li {
    padding-left: 60px; }

@media all and (max-width: 991px) {
  .grid .t-col-1 {
    width: 100%; }
  .grid .t-col-2 {
    width: 50%; }
  .grid .t-col-3 {
    width: 33.33333%; }
  .grid .t-col-3x2 {
    width: 66.66667%; }
  .grid .t-col-4 {
    width: 25%; }
  .grid .t-col-4x2 {
    width: 50%; }
  .grid .t-col-4x3 {
    width: 75%; }
  .grid .t-col-5 {
    width: 20%; }
  .grid .t-col-5x2 {
    width: 40%; }
  .grid .t-col-5x3 {
    width: 60%; }
  .grid .t-col-5x4 {
    width: 80%; }
  .grid .t-col-6 {
    width: 16.66667%; }
  .grid .t-col-6x2 {
    width: 33.33333%; }
  .grid .t-col-6x3 {
    width: 50%; }
  .grid .t-col-6x4 {
    width: 66.66667%; }
  .grid .t-col-6x5 {
    width: 83.33333%; }
  .grid .t-col-7 {
    width: 14.28571%; }
  .grid .t-col-7x2 {
    width: 28.57143%; }
  .grid .t-col-7x3 {
    width: 42.85714%; }
  .grid .t-col-7x4 {
    width: 57.14286%; }
  .grid .t-col-7x5 {
    width: 71.42857%; }
  .grid .t-col-7x6 {
    width: 85.71429%; }
  .grid .t-col-8 {
    width: 12.5%; }
  .grid .t-col-8x2 {
    width: 25%; }
  .grid .t-col-8x3 {
    width: 37.5%; }
  .grid .t-col-8x4 {
    width: 50%; }
  .grid .t-col-8x5 {
    width: 62.5%; }
  .grid .t-col-8x6 {
    width: 75%; }
  .grid .t-col-8x7 {
    width: 87.5%; }
  .grid .t-col-9 {
    width: 11.11111%; }
  .grid .t-col-9x2 {
    width: 22.22222%; }
  .grid .t-col-9x3 {
    width: 33.33333%; }
  .grid .t-col-9x4 {
    width: 44.44444%; }
  .grid .t-col-9x5 {
    width: 55.55556%; }
  .grid .t-col-9x6 {
    width: 66.66667%; }
  .grid .t-col-9x7 {
    width: 77.77778%; }
  .grid .t-col-9x8 {
    width: 88.88889%; }
  .grid .t-col-10 {
    width: 10%; }
  .grid .t-col-10x2 {
    width: 20%; }
  .grid .t-col-10x3 {
    width: 30%; }
  .grid .t-col-10x4 {
    width: 40%; }
  .grid .t-col-10x5 {
    width: 50%; }
  .grid .t-col-10x6 {
    width: 60%; }
  .grid .t-col-10x7 {
    width: 70%; }
  .grid .t-col-10x8 {
    width: 80%; }
  .grid .t-col-10x9 {
    width: 90%; }
  .grid .t-col-11 {
    width: 9.09091%; }
  .grid .t-col-11x2 {
    width: 18.18182%; }
  .grid .t-col-11x3 {
    width: 27.27273%; }
  .grid .t-col-11x4 {
    width: 36.36364%; }
  .grid .t-col-11x5 {
    width: 45.45455%; }
  .grid .t-col-11x6 {
    width: 54.54545%; }
  .grid .t-col-11x7 {
    width: 63.63636%; }
  .grid .t-col-11x8 {
    width: 72.72727%; }
  .grid .t-col-11x9 {
    width: 81.81818%; }
  .grid .t-col-11x10 {
    width: 90.90909%; }
  .grid .t-col-12 {
    width: 8.33333%; }
  .grid .t-col-12x2 {
    width: 16.66667%; }
  .grid .t-col-12x3 {
    width: 25%; }
  .grid .t-col-12x4 {
    width: 33.33333%; }
  .grid .t-col-12x5 {
    width: 41.66667%; }
  .grid .t-col-12x6 {
    width: 50%; }
  .grid .t-col-12x7 {
    width: 58.33333%; }
  .grid .t-col-12x8 {
    width: 66.66667%; }
  .grid .t-col-12x9 {
    width: 75%; }
  .grid .t-col-12x10 {
    width: 83.33333%; }
  .grid .t-col-12x11 {
    width: 91.66667%; } }

@media all and (max-width: 539px) {
  .grid .p-col-1 {
    width: 100%; }
  .grid .p-col-2 {
    width: 50%; }
  .grid .p-col-3 {
    width: 33.33333%; }
  .grid .p-col-3x2 {
    width: 66.66667%; }
  .grid .p-col-4 {
    width: 25%; }
  .grid .p-col-4x2 {
    width: 50%; }
  .grid .p-col-4x3 {
    width: 75%; }
  .grid .p-col-5 {
    width: 20%; }
  .grid .p-col-5x2 {
    width: 40%; }
  .grid .p-col-5x3 {
    width: 60%; }
  .grid .p-col-5x4 {
    width: 80%; }
  .grid .p-col-6 {
    width: 16.66667%; }
  .grid .p-col-6x2 {
    width: 33.33333%; }
  .grid .p-col-6x3 {
    width: 50%; }
  .grid .p-col-6x4 {
    width: 66.66667%; }
  .grid .p-col-6x5 {
    width: 83.33333%; }
  .grid .p-col-7 {
    width: 14.28571%; }
  .grid .p-col-7x2 {
    width: 28.57143%; }
  .grid .p-col-7x3 {
    width: 42.85714%; }
  .grid .p-col-7x4 {
    width: 57.14286%; }
  .grid .p-col-7x5 {
    width: 71.42857%; }
  .grid .p-col-7x6 {
    width: 85.71429%; }
  .grid .p-col-8 {
    width: 12.5%; }
  .grid .p-col-8x2 {
    width: 25%; }
  .grid .p-col-8x3 {
    width: 37.5%; }
  .grid .p-col-8x4 {
    width: 50%; }
  .grid .p-col-8x5 {
    width: 62.5%; }
  .grid .p-col-8x6 {
    width: 75%; }
  .grid .p-col-8x7 {
    width: 87.5%; }
  .grid .p-col-9 {
    width: 11.11111%; }
  .grid .p-col-9x2 {
    width: 22.22222%; }
  .grid .p-col-9x3 {
    width: 33.33333%; }
  .grid .p-col-9x4 {
    width: 44.44444%; }
  .grid .p-col-9x5 {
    width: 55.55556%; }
  .grid .p-col-9x6 {
    width: 66.66667%; }
  .grid .p-col-9x7 {
    width: 77.77778%; }
  .grid .p-col-9x8 {
    width: 88.88889%; }
  .grid .p-col-10 {
    width: 10%; }
  .grid .p-col-10x2 {
    width: 20%; }
  .grid .p-col-10x3 {
    width: 30%; }
  .grid .p-col-10x4 {
    width: 40%; }
  .grid .p-col-10x5 {
    width: 50%; }
  .grid .p-col-10x6 {
    width: 60%; }
  .grid .p-col-10x7 {
    width: 70%; }
  .grid .p-col-10x8 {
    width: 80%; }
  .grid .p-col-10x9 {
    width: 90%; }
  .grid .p-col-11 {
    width: 9.09091%; }
  .grid .p-col-11x2 {
    width: 18.18182%; }
  .grid .p-col-11x3 {
    width: 27.27273%; }
  .grid .p-col-11x4 {
    width: 36.36364%; }
  .grid .p-col-11x5 {
    width: 45.45455%; }
  .grid .p-col-11x6 {
    width: 54.54545%; }
  .grid .p-col-11x7 {
    width: 63.63636%; }
  .grid .p-col-11x8 {
    width: 72.72727%; }
  .grid .p-col-11x9 {
    width: 81.81818%; }
  .grid .p-col-11x10 {
    width: 90.90909%; }
  .grid .p-col-12 {
    width: 8.33333%; }
  .grid .p-col-12x2 {
    width: 16.66667%; }
  .grid .p-col-12x3 {
    width: 25%; }
  .grid .p-col-12x4 {
    width: 33.33333%; }
  .grid .p-col-12x5 {
    width: 41.66667%; }
  .grid .p-col-12x6 {
    width: 50%; }
  .grid .p-col-12x7 {
    width: 58.33333%; }
  .grid .p-col-12x8 {
    width: 66.66667%; }
  .grid .p-col-12x9 {
    width: 75%; }
  .grid .p-col-12x10 {
    width: 83.33333%; }
  .grid .p-col-12x11 {
    width: 91.66667%; } }

@media all and (max-width: 550px) {
  .grid .xs-col-1 {
    width: 100%; }
  .grid .xs-col-2 {
    width: 50%; }
  .grid .xs-col-3 {
    width: 33.33333%; }
  .grid .xs-col-3x2 {
    width: 66.66667%; }
  .grid .xs-col-4 {
    width: 25%; }
  .grid .xs-col-4x2 {
    width: 50%; }
  .grid .xs-col-4x3 {
    width: 75%; }
  .grid .xs-col-5 {
    width: 20%; }
  .grid .xs-col-5x2 {
    width: 40%; }
  .grid .xs-col-5x3 {
    width: 60%; }
  .grid .xs-col-5x4 {
    width: 80%; }
  .grid .xs-col-6 {
    width: 16.66667%; }
  .grid .xs-col-6x2 {
    width: 33.33333%; }
  .grid .xs-col-6x3 {
    width: 50%; }
  .grid .xs-col-6x4 {
    width: 66.66667%; }
  .grid .xs-col-6x5 {
    width: 83.33333%; }
  .grid .xs-col-7 {
    width: 14.28571%; }
  .grid .xs-col-7x2 {
    width: 28.57143%; }
  .grid .xs-col-7x3 {
    width: 42.85714%; }
  .grid .xs-col-7x4 {
    width: 57.14286%; }
  .grid .xs-col-7x5 {
    width: 71.42857%; }
  .grid .xs-col-7x6 {
    width: 85.71429%; }
  .grid .xs-col-8 {
    width: 12.5%; }
  .grid .xs-col-8x2 {
    width: 25%; }
  .grid .xs-col-8x3 {
    width: 37.5%; }
  .grid .xs-col-8x4 {
    width: 50%; }
  .grid .xs-col-8x5 {
    width: 62.5%; }
  .grid .xs-col-8x6 {
    width: 75%; }
  .grid .xs-col-8x7 {
    width: 87.5%; }
  .grid .xs-col-9 {
    width: 11.11111%; }
  .grid .xs-col-9x2 {
    width: 22.22222%; }
  .grid .xs-col-9x3 {
    width: 33.33333%; }
  .grid .xs-col-9x4 {
    width: 44.44444%; }
  .grid .xs-col-9x5 {
    width: 55.55556%; }
  .grid .xs-col-9x6 {
    width: 66.66667%; }
  .grid .xs-col-9x7 {
    width: 77.77778%; }
  .grid .xs-col-9x8 {
    width: 88.88889%; }
  .grid .xs-col-10 {
    width: 10%; }
  .grid .xs-col-10x2 {
    width: 20%; }
  .grid .xs-col-10x3 {
    width: 30%; }
  .grid .xs-col-10x4 {
    width: 40%; }
  .grid .xs-col-10x5 {
    width: 50%; }
  .grid .xs-col-10x6 {
    width: 60%; }
  .grid .xs-col-10x7 {
    width: 70%; }
  .grid .xs-col-10x8 {
    width: 80%; }
  .grid .xs-col-10x9 {
    width: 90%; }
  .grid .xs-col-11 {
    width: 9.09091%; }
  .grid .xs-col-11x2 {
    width: 18.18182%; }
  .grid .xs-col-11x3 {
    width: 27.27273%; }
  .grid .xs-col-11x4 {
    width: 36.36364%; }
  .grid .xs-col-11x5 {
    width: 45.45455%; }
  .grid .xs-col-11x6 {
    width: 54.54545%; }
  .grid .xs-col-11x7 {
    width: 63.63636%; }
  .grid .xs-col-11x8 {
    width: 72.72727%; }
  .grid .xs-col-11x9 {
    width: 81.81818%; }
  .grid .xs-col-11x10 {
    width: 90.90909%; }
  .grid .xs-col-12 {
    width: 8.33333%; }
  .grid .xs-col-12x2 {
    width: 16.66667%; }
  .grid .xs-col-12x3 {
    width: 25%; }
  .grid .xs-col-12x4 {
    width: 33.33333%; }
  .grid .xs-col-12x5 {
    width: 41.66667%; }
  .grid .xs-col-12x6 {
    width: 50%; }
  .grid .xs-col-12x7 {
    width: 58.33333%; }
  .grid .xs-col-12x8 {
    width: 66.66667%; }
  .grid .xs-col-12x9 {
    width: 75%; }
  .grid .xs-col-12x10 {
    width: 83.33333%; }
  .grid .xs-col-12x11 {
    width: 91.66667%; } }

.slick-initialized.grid-10 .col-4, .slick-initialized.grid-10 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.slick-initialized.grid-10 .col-4 {
  padding: 5px;
  height: inherit; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slide {
  outline: none !important; }

.slick-slide, .slick-slide:focus {
  outline: none !important; }

.slick-prev, .slick-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 40px;
  width: 40px;
  color: transparent;
  text-indent: 99999px;
  background-color: #000;
  border: 3px solid rgba(255, 255, 255, 0.9);
  outline: 0;
  border-radius: 50px;
  behavior: url(assets/js/pie/PIE.htc);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .slick-prev:hover, .slick-next:hover {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70); }
  .slick-prev:before, .slick-next:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 34px;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 32px; }

.slick-prev {
  left: -15px; }
  .slick-prev:before {
    content: '<'; }

.slick-next {
  right: -15px; }
  .slick-next:before {
    content: '>'; }

.text-with-slick-arrow {
  padding-left: 90px;
  padding-right: 90px; }

.no-arrows .icon-arrow-left, .no-arrows .icon-arrow-right {
  display: none !important; }

@media all and (max-width: 991px) {
  .icon-arrow-bigleft, .icon-arrow-bigright {
    display: none !important; } }

@media all and (max-width: 991px) {
  .text-with-slick-arrow {
    padding: 0; }
  .icon-arrow-left, .icon-arrow-right {
    display: none !important; } }

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 3px; }
    .slick-dots li button {
      background-color: #777;
      text-indent: -9999px;
      overflow: hidden;
      width: 15px;
      height: 15px;
      line-height: 15px;
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;
      box-sizing: border-box;
      border-radius: 50%;
      -webkit-appearance: none; }
    .slick-dots li.slick-active button {
      background-color: #000; }

.slick-arrow {
  cursor: pointer; }

#colorbox, #cboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }
  #colorbox button, #cboxOverlay button {
    outline: 0; }

div#cboxOverlay {
  background-color: rgba(0, 0, 0, 0.9); }

#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

#cboxOverlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  filter: alpha(opacity=90); }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 20px;
  background: #fff;
  overflow: hidden; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  border: 5px solid #fff;
  background: #fff; }

#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ccc; }

#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: #ccc; }

#cboxLoadingGraphic {
  background: url("../images/colorbox/loader2.gif") no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff; }

#cboxTitle {
  top: auto;
  bottom: 0;
  width: 100%;
  color: #2B2B2B;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 15px; }

#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -32px;
  width: 28px;
  height: 65px;
  font-size: 0;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  #cboxPrevious:hover {
    width: 32px; }
  #cboxPrevious:after {
    content: "<";
    color: #000;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 30px; }

#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -32px;
  width: 28px;
  height: 65px;
  font-size: 0;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  #cboxNext:hover {
    width: 32px; }
  #cboxNext:after {
    content: ">";
    color: #000;
    position: absolute;
    left: 6px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 30px; }

#cboxClose {
  position: absolute;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  width: 37px;
  height: 37px;
  top: 0;
  right: 0;
  display: block;
  background: url("../images/colorbox/close.png") no-repeat;
  background-position: center;
  background-color: #fff;
  text-indent: -9999px;
  background-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  #cboxClose:focus {
    outline: 0; }

.list {
  margin: 0;
  padding: 0; }
  .list img {
    float: left;
    padding: 20px 20px 20px 0;
    max-width: 270px; }
  .list .list-content {
    overflow: hidden; }
  .list li {
    overflow: hidden; }
  .list a {
    text-decoration: none; }
  .list hr:last-of-type {
    display: none; }
  .list p {
    margin-top: 0; }
  .list h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0; }
    .list h3 a {
      color: #333;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .list h3 a:hover, .list h3 a:focus {
        color: #019ed3; }
  .list .button {
    margin-bottom: 20px; }

[class*="button"] > * {
  display: inline-block;
  background-color: #019ed3;
  color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  border-top: 1px solid #fad570;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  [class*="button"] > *:hover, [class*="button"] > *:focus {
    text-decoration: none;
    background-color: #09c0fe; }

[class*="button"].full-center {
  text-align: center; }

[class*="button"].full-left {
  text-align: left; }

[class*="button"].full-right {
  text-align: right; }

[class*="button"].left {
  float: left; }

[class*="button"].right {
  float: right; }

.button-inverse > * {
  background-color: #fff;
  color: #019ed3; }
  .button-inverse > *:hover, .button-inverse > *:focus {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80); }

#success {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); }
  #success .msg {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 20px;
    height: auto; }
  #success .sucess-button {
    margin-top: 15px; }
    #success .sucess-button a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 5px 30px; }
      #success .sucess-button a:hover, #success .sucess-button a:focus {
        background-color: rgba(255, 255, 255, 0.05); }
  #success:target {
    display: block; }

#pagination {
  text-align: center;
  font-size: 0;
  margin: 20px 0; }
  #pagination li {
    display: inline-block;
    float: none;
    width: auto;
    font-size: 14px;
    margin-left: -1px; }
  #pagination a {
    text-decoration: none; }
  #pagination a, #pagination span {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 12px;
    color: #000;
    text-decoration: none;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    #pagination a:hover, #pagination a:focus, #pagination span:hover, #pagination span:focus {
      text-decoration: none;
      color: #807853;
      background-color: #f9f4e5; }
  #pagination .current {
    background-color: #019ed3;
    color: #fff; }
    #pagination .current:hover, #pagination .current:focus {
      background-color: #019ed3;
      color: #fff;
      cursor: not-allowed; }

.no-touch .header-menu > li:hover > ul, .no-touch .en .header-menu > ul > li:hover > ul, .no-touch .de .header-menu > ul > li:hover > ul {
  display: block; }

.customize-support .header-menu {
  margin-top: 32px; }

.header {
  font-family: "Open Sans"; }
  .header .container {
    position: relative; }
  .header .header-menu {
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff; }
    .header .header-menu .logo {
      display: inline-block; }
    .header .header-menu nav {
      font-size: 0; }
      .header .header-menu nav > * {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle; }
      .header .header-menu nav .logo, .header .header-menu nav .menu-icon-list {
        padding: 10px; }
      .header .header-menu nav .logo {
        width: 15%; }
      .header .header-menu nav .menu {
        width: 75%;
        text-align: right; }
      .header .header-menu nav .menu > ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
        background-color: #fff; }
        .header .header-menu nav .menu > ul .show-submenu {
          display: none; }
        .header .header-menu nav .menu > ul > li {
          display: inline-block;
          position: relative; }
          .header .header-menu nav .menu > ul > li > a {
            line-height: 54px; }
          .header .header-menu nav .menu > ul > li a {
            position: relative; }
          .header .header-menu nav .menu > ul > li.current-menu-item > a, .header .header-menu nav .menu > ul > li.current_page_parent > a {
            color: #72c02c; }
          .header .header-menu nav .menu > ul > li.menu-item-has-children a {
            padding-right: 20px; }
          .header .header-menu nav .menu > ul > li.menu-item-has-children > a:after {
            font-family: 'icomoon';
            content: "\f107";
            position: absolute;
            top: 11px;
            right: 5px;
            -webkit-opacity: 1;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
          .header .header-menu nav .menu > ul > li.menu-item-has-children:hover > a:after, .header .header-menu nav .menu > ul > li.menu-item-has-children:focus > a:after {
            top: 25px;
            -webkit-opacity: 0;
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            filter: alpha(opacity=0); }
          .header .header-menu nav .menu > ul > li:last-child.menu-item-has-children ul, .header .header-menu nav .menu > ul > li:nth-last-child(2).menu-item-has-children ul, .header .header-menu nav .menu > ul > li:nth-last-child(3).menu-item-has-children ul {
            right: 0; }
          .header .header-menu nav .menu > ul > li:hover ul, .header .header-menu nav .menu > ul > li:focus ul {
            display: block; }
        .header .header-menu nav .menu > ul ul {
          position: absolute;
          z-index: 99;
          text-align: left;
          min-width: 250px;
          padding: 10px;
          background-color: #fff;
          border-top: 3px solid #019ed3;
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.175); }
          .header .header-menu nav .menu > ul ul a {
            padding: 8px 10px;
            font-size: 13px;
            text-transform: none; }
      .header .header-menu nav a {
        display: block;
        font-size: 13px;
        padding: 10px 20px;
        text-decoration: none;
        color: #555;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .header .header-menu nav a:hover, .header .header-menu nav a:focus {
          color: #019ed3; }
      .header .header-menu nav .sub-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0; }
  .header .menu-icon-list {
    width: 10%;
    margin: 0;
    text-align: right;
    list-style: none;
    font-size: 16px;
    color: #555; }
    .header .menu-icon-list > * {
      display: inline-block; }
      .header .menu-icon-list > *.show-menu {
        display: none; }
      .header .menu-icon-list > * > * {
        margin-left: 20px; }
      .header .menu-icon-list > *:first-child {
        margin-left: 0; }
  .header .close-menu {
    display: none; }
  .header .slider {
    margin-top: 75px;
    overflow: hidden; }
    .header .slider ul {
      margin: 0;
      padding: 0; }
      .header .slider ul.slick-initialized .slick-track li {
        display: inline-block; }
      .header .slider ul .slick-track li {
        display: none; }
        .header .slider ul .slick-track li:first-child {
          display: block; }
    .header .slider li {
      background-size: cover;
      background-position: 50%;
      height: 500px; }
    .header .slider .slider-content {
      padding: 70px 60px; }
    .header .slider h2 {
      margin: 0;
      padding: 0;
      font-size: 45px;
      line-height: 67px;
      font-weight: 100;
      color: #fff; }
    .header .slider h3 {
      margin: 0;
      padding: 0;
      font-size: 60px;
      line-height: 90px;
      color: #72c02c; }
    .header .slider p {
      margin: 10px 0 35px;
      padding: 0;
      font-size: 18px;
      line-height: 25px;
      color: #fff; }
    .header .slider .slick-arrow {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 8; }
    .header .slider .slick-prev {
      left: 15px; }
      .header .slider .slick-prev:before {
        content: "\f104";
        left: -2px; }
    .header .slider .slick-next {
      right: 15px; }
      .header .slider .slick-next:before {
        content: "\f105";
        left: 1px; }
    .header .slider .slick-dots {
      position: absolute;
      width: 100%;
      bottom: 20px;
      z-index: 8; }
      .header .slider .slick-dots li {
        position: relative;
        height: 16px;
        width: 16px;
        margin: 5px;
        background-color: #fff;
        border: 3px solid #949494;
        border-radius: 50px;
        behavior: url(assets/js/pie/PIE.htc);
        cursor: pointer;
        z-index: 99; }
        .header .slider .slick-dots li.slick-active {
          background-color: #000; }
        .header .slider .slick-dots li button {
          cursor: pointer;
          background-color: transparent; }
    .header .slider .btn {
      display: inline-block; }
      .header .slider .btn a {
        text-decoration: none;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 13px;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        .header .slider .btn a:hover, .header .slider .btn a:focus {
          -webkit-opacity: 0.8;
          -moz-opacity: 0.8;
          -khtml-opacity: 0.8;
          opacity: 0.8;
          filter: alpha(opacity=80); }
    .header .slider .btn-green a {
      background-color: #72c02c; }
    .header .slider .btn-dark {
      margin-left: 15px; }
      .header .slider .btn-dark a {
        background-color: #555; }
  .header .search i {
    cursor: pointer;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .header .search i:hover, .header .search i:focus {
      -webkit-opacity: 0.8;
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;
      filter: alpha(opacity=80); }
    .header .search i.active:before {
      content: "\f00d"; }
  .header .search-box {
    font-size: 0;
    position: absolute;
    top: 100%;
    float: left;
    right: 0;
    z-index: 99;
    padding: 14px;
    background: #fcfcfc;
    border-top: solid 1px #eee;
    visibility: visible;
    box-shadow: 0 1px 3px 0 #ddd;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .header .search-box.active {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      filter: alpha(opacity=100); }
    .header .search-box form * {
      font-size: 14px;
      display: inline-block; }
    .header .search-box input {
      border: 1px solid #ccc;
      padding: 6px 12px;
      color: #555;
      background-color: #fff; }
    .header .search-box button {
      background-color: #72c02c;
      color: #fff;
      border: 1px solid #72c02c;
      cursor: pointer;
      font-weight: 400;
      padding: 6px 13px;
      position: relative; }

* {
  outline: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #fff; }

ul, ol {
  list-style: none;
  padding-left: 0; }

p {
  font-size: 1em;
  line-height: 1.5; }
  p ul, p ol {
    list-style: initial;
    padding-left: initial; }

ul, ol {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  padding-left: 40px; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }
  ol li {
    padding-left: 5px; }

ul ul, ul ol, ol ul, ol ol {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  line-height: 150%;
  letter-spacing: 0; }

h1 {
  font-size: 3.25rem;
  text-align: center; }

h2 {
  font-size: 2.55rem; }

h3 {
  font-size: 2.15rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 0.9rem; }

hr {
  border-bottom: 4px solid #dddedf;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.7rem 0;
  height: 0; }

blockquote {
  position: relative;
  border-left: 10px solid #dddedf;
  margin: 1.7rem 0;
  padding-left: .85rem;
  font-size: 1.1rem;
  color: #999; }

article {
  max-width: 800px;
  margin: 50px auto; }

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }
  .container:before {
    content: " ";
    display: table; }
  .container:after {
    content: " ";
    display: table;
    clear: both; }

header {
  text-align: center; }
  header h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #019ed3;
    position: relative; }
    header h1:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      height: 5px;
      background-color: #dddedf; }

.logo {
  padding: 20px 0;
  max-width: 100px;
  margin: 0 auto; }
  .logo img {
    max-width: 100%; }

.section-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin: 15px 0;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  background-color: #019ed3;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.47);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .section-tab:hover {
    box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.9); }
  .section-tab h2 {
    font-weight: 400;
    font-size: 25px; }

footer {
  text-align: center; }
  footer ul {
    list-style: none;
    padding-left: 0; }
    footer ul li {
      font-weight: 100;
      text-transform: lowercase;
      padding: 1px 10px;
      margin: 0 2px;
      background: -webkit-linear-gradient(left, #019ed3, rgba(1, 158, 211, 0.75));
      background: linear-gradient(to right, #019ed3, rgba(1, 158, 211, 0.75));
      border-radius: 7px;
      display: inline-block;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      footer ul li:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      footer ul li a {
        color: #fff; }

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-wrapper article {
    max-width: 800px;
    margin: 0 auto; }

#nav {
  margin-top: 3rem;
  list-style: none; }
  #nav ul {
    list-style: none; }
    #nav ul a {
      font-weight: normal; }
  #nav li {
    padding: 2px 0; }
  #nav a {
    color: #019ed3;
    padding: 2px 5px;
    font-weight: 600; }

.powered-by {
  color: #ddd;
  text-align: right; }
  .powered-by a, .powered-by span {
    color: inherit;
    font-weight: bold;
    text-decoration: none; }
  .powered-by a:hover, .powered-by a:focus {
    text-decoration: underline; }

@media all and (max-width: 1200px) {
  .header .header-menu nav a {
    padding: 10px; } }

@media all and (max-width: 900px) {
  .customize-support .mobile-header {
    top: 99px; }
  .header .header-menu .container {
    padding: 0; }
  .header .header-menu .menu-icon-list > *.show-menu {
    display: inline-block; }
  .header .header-menu .mobile-menu .logo {
    width: 40%; }
  .header .header-menu .mobile-menu .menu-icon-list {
    width: 60%; }
  .header .header-menu .mobile-menu.active .menu {
    display: block; }
    .header .header-menu .mobile-menu.active .menu > ul {
      display: block; }
  .header .header-menu .mobile-menu .menu {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .header .header-menu .mobile-menu .menu ul {
      display: none;
      position: fixed;
      overflow-x: auto;
      width: 100%;
      height: 100%;
      padding-bottom: 300px;
      margin: 0; }
      .header .header-menu .mobile-menu .menu ul > li:last-child a {
        border-bottom: 1px solid #eee; }
    .header .header-menu .mobile-menu .menu li {
      display: block;
      text-align: center; }
      .header .header-menu .mobile-menu .menu li.current_page_parent a, .header .header-menu .mobile-menu .menu li.current_page_item a {
        color: #383737; }
      .header .header-menu .mobile-menu .menu li.menu-item-has-children > a {
        padding-right: 0; }
        .header .header-menu .mobile-menu .menu li.menu-item-has-children > a .show-submenu {
          display: inline-block; }
      .header .header-menu .mobile-menu .menu li a {
        display: block;
        position: relative;
        padding: 10px 0;
        text-decoration: none;
        font-size: 20px;
        border-top: 1px solid #eee; }
        .header .header-menu .mobile-menu .menu li a:after {
          display: none; }
      .header .header-menu .mobile-menu .menu li > a {
        line-height: inherit; }
      .header .header-menu .mobile-menu .menu li:hover ul, .header .header-menu .mobile-menu .menu li:focus ul {
        display: none; }
      .header .header-menu .mobile-menu .menu li.active-submenu > ul {
        display: block;
        position: relative;
        padding: 0;
        background-color: #FBFBFB; }
        .header .header-menu .mobile-menu .menu li.active-submenu > ul i {
          display: none; }
        .header .header-menu .mobile-menu .menu li.active-submenu > ul .show-submenu {
          display: none; }
      .header .header-menu .mobile-menu .menu li.active-submenu li {
        width: 100%;
        text-align: center; }
        .header .header-menu .mobile-menu .menu li.active-submenu li a {
          padding: 15px 0;
          border-top: 1px solid #eee;
          margin: 0;
          color: #383737;
          font-size: 14px; }
        .header .header-menu .mobile-menu .menu li.active-submenu li.current_page_parent a, .header .header-menu .mobile-menu .menu li.active-submenu li.current_page_item a {
          color: #fff; }
  .header .header-menu .mobile-menu .show-submenu {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    font-size: 29px;
    border: 1px solid #eee;
    padding: 4px 15px; }
  .header .header-menu .mobile-menu .sub-menu {
    display: none;
    min-width: inherit;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 transparent; }
    .header .header-menu .mobile-menu .sub-menu .show-submenu {
      display: none; }
  .header .show-menu {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; }
    .header .show-menu i {
      position: relative;
      top: 1px;
      font-size: 18px; } }

@media all and (max-width: 782px) {
  .customize-support .header-menu {
    margin-top: 46px; } }

@media all and (max-width: 620px) {
  .header .slider li {
    height: 420px; }
  .header .slider h2 {
    font-size: 30px; }
  .header .slider h3 {
    font-size: 40px;
    line-height: 50px; }
  .header .slider p {
    font-size: 16px; }
  .header .slider .btn a {
    padding: 10px;
    font-size: 11px; }
  .image-gallery.grid .col-4 {
    width: 50%; } }

@media all and (max-width: 600px) {
  div#wpadminbar {
    position: fixed; } }

@media all and (max-width: 320px) {
  .header .slider li {
    height: 400px; } }

@-moz-document url-prefix() {
  a:after {
    top: 10px; } }

.lt-ie9 .header .slider .slick-arrow {
  line-height: 1.1;
  border: 3px solid #fff; }

.lt-ie9 .slick-prev:before {
  top: 1px;
  left: 1px; }

.lt-ie9 .slick-next:before {
  top: 1px;
  left: 4px; }

.lt-ie9 .header .search-box input {
  padding-bottom: 7px; }

.ie-browser .header-menu a {
  padding: 20px 26px; }

.ie-browser .header-menu > ul {
  display: block;
  font-size: 0; }
  .ie-browser .header-menu > ul > li {
    display: inline-block; }

.ie-9 .header-menu ul li {
  float: left; }

.ie-9 .container {
  display: block;
  width: 960px;
  max-width: none;
  margin: 0 auto; }

.ie-9 .aside-cta {
  background: #f6bf16; }
  .ie-9 .aside-cta .cta, .ie-9 .aside-cta h2, .ie-9 .aside-cta .button {
    position: static; }
  .ie-9 .aside-cta img {
    display: none; }

@media print {
  body {
    background: #fff;
    color: #000;
    margin: 0; }
  header, footer {
    display: none; } }
