[class*="button"]
	>*
		display: inline-block
		background-color: $color-1
		color: #fff
		padding: 15px 40px
		text-decoration: none
		border-top: 1px solid #fad570
		text-transform: uppercase
		font-size: 16px
		+border-radius(5px)
		//+shadow(2px, 2px, 2px, -1px, rgba(25, 25, 25, 0.70))
		+transition(background-color .3s)
		&:hover, &:focus
			text-decoration: none
			background-color: lighten($color-1, 10)

	&.full-center
		text-align: center
	&.full-left
		text-align: left
	&.full-right
		text-align: right
	&.left
		float: left
	&.right
		float: right


.button-inverse
	>*
		background-color: #fff
		color: $color-1
		&:hover, &:focus
			+opacity(.8)