.no-touch
	.header-menu, .en .header-menu>ul, .de .header-menu>ul
		> li
			&:hover
				> ul
					display: block

.customize-support
	.header-menu
		margin-top: 32px

.header
	font-family: "Open Sans"
	.container
		position: relative
	.header-menu
		position: fixed
		z-index: 9
		width: 100%
		top: 0
		left: 0
		background-color: #fff
		.logo
			display: inline-block
		nav
			font-size: 0
			> *
				font-size: 14px
				display: inline-block
				vertical-align: middle
			.logo, .menu-icon-list
				padding: 10px
			.logo
				width: 15%
			.menu
				width: 75%
				text-align: right
			.menu
				> ul
					position: relative
					list-style: none
					padding: 0
					margin: 0
					text-align: right
					background-color: #fff
					.show-submenu
						display: none
					> li
						display: inline-block
						position: relative
						> a
							line-height: 54px
						a
							position: relative
						&.current-menu-item, &.current_page_parent
							> a
								color: #72c02c
						&.menu-item-has-children
							a
								padding-right: 20px
							> a
								&:after
									font-family: 'icomoon'
									content: "\f107"
									position: absolute
									top: 11px
									right: 5px
									+opacity(1)
									+transition(all .3s)
							&:hover, &:focus
								> a
									&:after
										top: 25px
										+opacity(0)
						&:last-child, &:nth-last-child(2), &:nth-last-child(3)
							&.menu-item-has-children
								ul
									right: 0

						&:hover, &:focus
							ul
								display: block
					ul
						position: absolute
						z-index: 99
						text-align: left
						min-width: 250px
						padding: 10px
						background-color: #fff
						border-top: 3px solid $color-1
						+shadow(0, 6px, 12px, 0, rgba(0, 0, 0, .175))
						a
							padding: 8px 10px
							font-size: 13px
							text-transform: none
			a
				display: block
				font-size: 13px
				padding: 10px 20px
				text-decoration: none
				color: #555
				text-transform: uppercase
				+transition(all .3s)
				&:hover, &:focus
					color: $color-1
			.sub-menu
				display: none
				list-style: none
				padding: 0
				margin: 0
	.menu-icon-list
		width: 10%
		margin: 0
		text-align: right
		list-style: none
		font-size: 16px
		color: #555
		> *
			display: inline-block
			&.show-menu
				display: none
			> *
				margin-left: 20px
			&:first-child
				margin-left: 0

	.close-menu
		display: none

	.slider
		margin-top: 75px
		overflow: hidden
		ul
			margin: 0
			padding: 0
			&.slick-initialized
				.slick-track
					li
						display: inline-block
			.slick-track
				li
					display: none
					&:first-child
						display: block
		li
			background-size: cover
			background-position: 50%
			height: 500px

		.slider-content
			padding: 70px 60px
		h2
			margin: 0
			padding: 0
			font-size: 45px
			line-height: 67px
			font-weight: 100
			color: #fff
		h3
			margin: 0
			padding: 0
			font-size: 60px
			line-height: 90px
			color: #72c02c
		p
			margin: 10px 0 35px
			padding: 0
			font-size: 18px
			line-height: 25px
			color: #fff
		.slick-arrow
			&:before
			font-family: 'icomoon' !important
			speak: none
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			line-height: 1
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			z-index: 8
		.slick-prev
			left: 15px
			&:before
				content: "\f104"
				left: -2px
		.slick-next
			right: 15px
			&:before
				content: "\f105"
				left: 1px
		.slick-dots
			position: absolute
			width: 100%
			bottom: 20px
			z-index: 8
			li
				position: relative
				height: 16px
				width: 16px
				margin: 5px
				background-color: #fff
				border: 3px solid #949494
				+border-radius(50px)
				behavior: url(assets/js/pie/PIE.htc)
				cursor: pointer
				z-index: 99
				&.slick-active
					background-color: #000
				button
					cursor: pointer
					background-color: transparent

		.btn
			display: inline-block
			a
				text-decoration: none
				text-transform: uppercase
				margin: 0
				padding: 10px 13px
				font-size: 14px
				line-height: 22px
				color: #fff
				+transition(opacity .3s)
				&:hover, &:focus
					+opacity(.8)
		.btn-green
			a
				background-color: #72c02c
		.btn-dark
			margin-left: 15px
			a
				background-color: #555
	.search
		i
			cursor: pointer
			+opacity(1)
			+transition(opacity .3s)
			&:hover, &:focus
				+opacity(.8)
			&.active
				&:before
					content: "\f00d"
	.search-box
		font-size: 0
		position: absolute
		top: 100%
		float: left
		right: 0
		z-index: 99
		padding: 14px
		background: #fcfcfc
		border-top: solid 1px #eee
		visibility: visible
		+shadow(0, 1px, 3px, 0, #ddd)
		+opacity(0)
		+transition(all .3s)
		&.active
			+opacity(1)
		form
			*
				font-size: 14px
				display: inline-block
		input
			border: 1px solid #ccc
			padding: 6px 12px
			color: #555
			background-color: #fff
		button
			background-color: #72c02c
			color: #fff
			border: 1px solid #72c02c
			cursor: pointer
			font-weight: 400
			padding: 6px 13px
			position: relative