#success
	position: fixed
	z-index: 99999
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.85)
	.msg
		position: absolute
		left: 0
		right: 0
		top: 50%
		bottom: 0
		color: #fff
		float: left
		text-align: center
		font-size: 20px
		height: auto
	.sucess-button
		margin-top: 15px
		a
			text-decoration: none
			color: #fff
			cursor: pointer
			font-size: 16px
			border: 1px solid #fff
			background-color: rgba(255, 255, 255, 0.25)
			padding: 5px 30px
			&:hover, &:focus
				background-color: rgba(255, 255, 255, 0.05)
	&:target
		display: block
