#pagination
	text-align: center
	font-size: 0
	margin: 20px 0
	li
		display: inline-block
		float: none
		width: auto
		font-size: 14px
		margin-left: -1px
	a
		text-decoration: none
	a, span
		display: block
		background-color: #fff
		border: 1px solid #ddd
		padding: 5px 12px
		color: #000
		text-decoration: none
		+transition(.1s)
		&:hover, &:focus
			text-decoration: none
			color: #807853
			background-color: #f9f4e5
	.current
		background-color: $color-1
		color: #fff
		&:hover, &:focus
			background-color: $color-1
			color: #fff
			cursor: not-allowed