{# Obsah Template #}

{% extends "_layout" %}
{% set entries = craft.entries.section('obsahPlaybook') %}

{% block content %}
    <div class="main-wrapper">
        <div class="sidebar">
            <ul id="nav">
                {% nav entry in entries %}
                <li>
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                    {% ifchildren %}
                    <ul>
                        {% children %}
                    </ul>
                    {% endifchildren %}
                </li>
                {% endnav %}
            </ul>
        </div>

        <article>
            {{ entry.body }}
        </article>

    </div>
{% endblock %}
