#colorbox, #cboxOverlay
	position: absolute
	top: 0
	left: 0
	z-index: 9999
	overflow: hidden
	button
		outline: 0

div#cboxOverlay
	background-color: rgba(0, 0, 0, 0.9)

#cboxWrapper
	position: absolute
	top: 0
	left: 0
	z-index: 9999
	overflow: hidden
	max-width: none

#cboxOverlay
	position: fixed
	width: 100%
	height: 100%

#cboxMiddleLeft, #cboxBottomLeft
	clear: left

#cboxContent
	position: relative

#cboxLoadedContent
	overflow: auto
	-webkit-overflow-scrolling: touch

#cboxTitle
	margin: 0

#cboxLoadingOverlay, #cboxLoadingGraphic
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow
	cursor: pointer

.cboxPhoto
	float: left
	margin: auto
	border: 0
	display: block
	max-width: none
	-ms-interpolation-mode: bicubic

.cboxIframe
	width: 100%
	height: 100%
	display: block
	border: 0
	padding: 0
	margin: 0

#colorbox, #cboxContent, #cboxLoadedContent
	box-sizing: content-box
	-moz-box-sizing: content-box
	-webkit-box-sizing: content-box

#cboxOverlay
	background: rgba(0, 0, 0, 0.7)
	opacity: 0.9
	filter: alpha(opacity=90)

#colorbox
	outline: 0

#cboxContent
	margin-top: 20px
	background: #fff
	overflow: hidden

.cboxIframe
	background: #fff

#cboxError
	padding: 50px
	border: 1px solid #ccc

#cboxLoadedContent
	border: 5px solid #fff
	background: #fff

#cboxTitle
	position: absolute
	top: -20px
	left: 0
	color: #ccc

#cboxCurrent
	position: absolute
	top: -20px
	right: 0px
	color: #ccc

#cboxLoadingGraphic
	background: url('../images/colorbox/loader2.gif') no-repeat center center

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose
	border: 0
	padding: 0
	margin: 0
	overflow: visible
	width: auto
	background: none

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating)

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active
	outline: 0

#cboxSlideshow
	position: absolute
	top: -20px
	right: 90px
	color: #fff

#cboxTitle
	top: auto
	bottom: 0
	width: 100%
	color: #2B2B2B
	background-color: rgba(255, 255, 255, 0.50)
	text-align: center
	padding: 15px

#cboxPrevious
	position: absolute
	top: 50%
	left: 5px
	margin-top: -32px
	width: 28px
	height: 65px
	font-size: 0
	background-color: #fff
	+transition(.2s)
	&:hover
		width: 32px
	&:after
		content: "<"
		color: #000
		position: absolute
		right: 6px
		top: 12px
		width: 20px
		height: 20px
		font-size: 30px

#cboxNext
	position: absolute
	top: 50%
	right: 5px
	margin-top: -32px
	width: 28px
	height: 65px
	font-size: 0
	background-color: #fff
	+transition(.2s)
	&:hover
		width: 32px
	&:after
		content: ">"
		color: #000
		position: absolute
		left: 6px
		top: 12px
		width: 20px
		height: 20px
		font-size: 30px

#cboxClose
	position: absolute
	border-bottom-left-radius: 10px
	-webkit-border-bottom-left-radius: 10px
	-moz-border-bottom-left-radius: 10px
	-ms-border-bottom-left-radius: 10px
	width: 37px
	height: 37px
	top: 0
	right: 0
	display: block
	background: url('../images/colorbox/close.png') no-repeat
	background-position: center
	background-color: #fff
	text-indent: -9999px
	background-size: 20px
	+transition(.2s)
	&:focus
		outline: 0