/* Slider

.slick-slider
	position: relative
	display: block
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-touch-callout: none
	-khtml-user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent

.slick-list
	position: relative
	display: block
	overflow: hidden
	margin: 0
	padding: 0
	&:focus
		outline: none
	&.dragging
		cursor: pointer
		cursor: hand

.slick-slider
	.slick-track, .slick-list
		-webkit-transform: translate3d(0, 0, 0)
		-moz-transform: translate3d(0, 0, 0)
		-ms-transform: translate3d(0, 0, 0)
		-o-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

.slick-track
	position: relative
	top: 0
	left: 0
	display: block
	&:before
		display: table
		content: ''
	&:after
		display: table
		content: ''
		clear: both

.slick-loading .slick-track
	visibility: hidden

.slick-slide
	display: none
	float: left
	height: 100%
	min-height: 1px

[dir='rtl'] .slick-slide
	float: right

.slick-slide
	img
		display: block
	&.slick-loading img
		display: none
	&.dragging img
		pointer-events: none

.slick-initialized .slick-slide
	display: block

.slick-loading .slick-slide
	visibility: hidden

.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent

.slick-arrow.slick-hidden
	display: none

.slide
	outline: none !important

.slick-slide, .slick-slide:focus
	outline: none !important

.slick-prev, .slick-next
	cursor: pointer
	position: absolute
	top: 50%
	margin-top: -25px
	height: 40px
	width: 40px
	color: transparent
	text-indent: 99999px
	background-color: #000
	border: 3px solid rgba(255, 255, 255, 0.9)
	outline: 0
	+border-radius(50px)
	behavior: url(assets/js/pie/PIE.htc)
	+transition(opacity .3s)
	&:hover
		+opacity(.7)
	&:before
		position: absolute
		display: block
		top: 0
		left: 0
		width: 34px
		text-align: center
		text-indent: 0
		color: #fff
		font-size: 32px

.slick-prev
	left: -15px
	&:before
		content: '<'

.slick-next
	right: -15px
	&:before
		content: '>'

.text-with-slick-arrow
	padding-left: 90px
	padding-right: 90px

.no-arrows
	.icon-arrow-left, .icon-arrow-right
		display: none !important

+breakpoint(991px)
	.icon-arrow-bigleft, .icon-arrow-bigright
		display: none !important

+breakpoint(991px)
	.text-with-slick-arrow
		padding: 0
	.icon-arrow-left, .icon-arrow-right
		display: none !important

.slick-dots
	margin: 0
	padding: 0
	list-style: none
	text-align: center
	li
		display: inline-block
		margin: 3px
		button
			background-color: #777
			text-indent: -9999px
			overflow: hidden
			width: 15px
			height: 15px
			line-height: 15px
			padding: 0 !important
			margin: 0 !important
			border: none !important
			box-sizing: border-box
			border-radius: 50%
			-webkit-appearance: none
		&.slick-active
			button
				background-color: #000

.slick-arrow
	cursor: pointer
