@-moz-document url-prefix()
	.header .header-menu nav .menu > ul > li.menu-item-has-children >
	a
		&:after
			top: 10px

.lt-ie9
	.header .slider .slick-arrow
		line-height: 1.1
		border: 3px solid #fff
	.slick-prev
		&:before
			top: 1px
			left: 1px
	.slick-next
		&:before
			top: 1px
			left: 4px
	.header .search-box input
		padding-bottom: 7px

.ie-browser
	.header-menu
		a
			padding: 20px 26px
		>ul
			display: block
			font-size: 0
			>li
				display: inline-block
.ie-9
	.header-menu
		ul
			li
				float: left
	.container
		display: block
		width: 960px
		max-width: none
		margin: 0 auto
	.aside-cta
		background: #f6bf16
		.cta, h2, .button
			position: static
		img
			display: none

