*
	outline: 0

body
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
	background-color: #fff

ul, ol
	list-style: none
	padding-left: 0

p
	font-size: 1em
	line-height: 1.5
	ul, ol
		list-style: initial
		padding-left: initial

ul, ol
	margin-top: 1.7rem
	margin-bottom: 1.7rem
	padding-left: 40px

ul
	list-style: disc

ol
	list-style: decimal
	li
		padding-left: 5px

ul ul, ul ol, ol ul, ol ol
	margin-top: 0
	margin-bottom: 0

a
	text-decoration: none

h1, h2, h3, h4, h5, h6
	font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
	font-weight: 500
	text-rendering: optimizeLegibility
	line-height: 150%
	letter-spacing: 0

h1
	font-size: 3.25rem
	text-align: center

h2
	font-size: 2.55rem

h3
	font-size: 2.15rem

h4
	font-size: 1.8rem

h5
	font-size: 1.4rem

h6
	font-size: 0.9rem

hr
	border-bottom: 4px solid $color-2
	border-left: none
	border-right: none
	border-top: none
	margin: 1.7rem 0
	height: 0

blockquote
	position: relative
	border-left: 10px solid $color-2
	margin: 1.7rem 0
	padding-left: .85rem
	font-size: 1.1rem
	color: #999

article
	max-width: 800px
	margin: 50px auto

.container
	max-width: 1200px
	width: 100%
	margin-left: auto
	margin-right: auto
	&:before
		content: " "
		display: table
	&:after
		content: " "
		display: table
		clear: both
	*zoom: 1

header
	text-align: center
	h1
		font-size: 40px
		text-transform: uppercase
		color: $color-1
		position: relative
		&:after
			content: " "
			position: absolute
			bottom: 0
			left: 0
			right: 0
			margin-left: auto
			margin-right: auto
			width: 15%
			height: 5px
			background-color: $color-2

.logo
	padding: 20px 0
	max-width: 100px
	margin: 0 auto
	img
		max-width: 100%

.section-tab
	display: flex
	justify-content: center
	align-items: center
	height: 100px
	margin: 15px 0
	border-radius: 10px
	color: #fff
	text-align: center
	background-color: $color-1
	background-size: cover
	background-position: center
	box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.47)
	+transition(all 300ms ease-in-out)
	&:hover
		box-shadow: 0 3px 25px -4px rgba(0, 0, 0, 0.9)
	h2
		font-weight: 400
		font-size: 25px

footer
	text-align: center
	ul
		list-style: none
		padding-left: 0
		li
			font-weight: 100
			text-transform: lowercase
			padding: 1px 10px
			margin: 0 2px
			background: linear-gradient(to right, rgba(1, 158, 211, 1),rgba(1, 158, 211, 0.75))
			border-radius: 7px
			display: inline-block
			+transition(all 300ms ease-in-out)
			&:hover
				+transform(scale(1.1))
			a
				color: #fff

.main-wrapper
	display: flex
	article
		max-width: 800px
		margin: 0 auto

#nav
	margin-top: 3rem
	list-style: none
	ul
		list-style: none
		a
			font-weight: normal
	li
		padding: 2px 0
	a
		color: $color-1
		padding: 2px 5px
		font-weight: 600

