$max-columns: 12
$grid-gutters: 10 20 30 40 60

ul.grid
	margin: 0
	padding: 0
	list-style: none

.grid
	font-size: 0
	> div, > li
		margin: 0
	@for $i from 1 through $max-columns
		.col-#{$i}
			width: 100/$i*1%
		@if $i > 2
			$x: $i
			@for $x from 2 through ($i - 1)
				.col-#{$i}x#{$x}
					width: 100/$i*$x*1%
	> div, > li
		font-size: 14px
		font-size: initial
		display: inline-block
		vertical-align: top

	&.grid-middle
		> div, > li
			vertical-align: middle
	&.grid-equal
		display: -webkit-box
		display: -moz-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		> div, > li
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			margin-left: -1px
			> *
				width: 100%
		&.align-center
			justify-content: center

=grid-gutters
	@each $grid-gutter in $grid-gutters
		.grid.grid-#{$grid-gutter}
			margin-left: -#{$grid-gutter}px
			> div, > li
				padding-left: #{$grid-gutter}px

+grid-gutters

+breakpoint(991px)
	.grid
		@for $i from 1 through $max-columns
			.t-col-#{$i}
				width: 100/$i*1%
			@if $i > 2
				$x: $i
				@for $x from 2 through ($i - 1)
					.t-col-#{$i}x#{$x}
						width: 100/$i*$x*1%

+breakpoint(539px)
	.grid
		@for $i from 1 through $max-columns
			.p-col-#{$i}
				width: 100/$i*1%
			@if $i > 2
				$x: $i
				@for $x from 2 through ($i - 1)
					.p-col-#{$i}x#{$x}
						width: 100/$i*$x*1%

+breakpoint(550px)
	.grid
		@for $i from 1 through $max-columns
			.xs-col-#{$i}
				width: 100/$i*1%
			@if $i > 2
				$x: $i
				@for $x from 2 through ($i - 1)
					.xs-col-#{$i}x#{$x}
						width: 100/$i*$x*1%

.slick-initialized
	&.grid-10
		.col-4, .slick-track
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
		.col-4
			padding: 5px
			height: inherit
