.list
	margin: 0
	padding: 0
	img
		float: left
		padding: 20px 20px 20px 0
		max-width: 270px
	.list-content
		overflow: hidden
	li
		overflow: hidden
	a
		text-decoration: none
	hr
		&:last-of-type
			display: none
	p
		margin-top: 0
	h3
		font-size: 28px
		font-weight: bold
		margin: 0
		a
			color: #333
			+transition(color .3s)
			&:hover, &:focus
				color: $color-1
	.button
		margin-bottom: 20px
