+breakpoint(1200px)
	.header
		.header-menu
			nav a
				padding: 10px

+breakpoint(900px)
	.customize-support
		.mobile-header
			top: 99px

	.header
		.header-menu
			.container
				padding: 0
			.menu-icon-list
				> *.show-menu
					display: inline-block
			.mobile-menu
				.logo
					width: 40%
				.menu-icon-list
					width: 60%
				&.active
					.menu
						display: block
						> ul
							display: block
				.menu
					display: none
					position: absolute
					bottom: 0
					width: 100%
					ul
						display: none
						position: fixed
						overflow-x: auto
						width: 100%
						height: 100%
						padding-bottom: 300px
						margin: 0
						> li:last-child
							a
								border-bottom: 1px solid #eee
					li
						display: block
						text-align: center
						&.current_page_parent, &.current_page_item
							a
								color: #383737
						&.menu-item-has-children
							> a
								padding-right: 0
								.show-submenu
									display: inline-block

						a
							display: block
							position: relative
							padding: 10px 0
							text-decoration: none
							font-size: 20px
							border-top: 1px solid #eee
							&:after
								display: none
						> a
							line-height: inherit
						&:hover, &:focus
							ul
								display: none
						&.active-submenu
							> ul
								display: block
								position: relative
								padding: 0
								background-color: #FBFBFB
								i
									display: none
								.show-submenu
									display: none
							li
								width: 100%
								text-align: center
								a
									padding: 15px 0
									border-top: 1px solid #eee
									margin: 0
									color: #383737
									font-size: 14px

								&.current_page_parent, &.current_page_item
									a
										color: #fff
				.show-submenu
					display: none
					position: absolute
					right: -1px
					top: -1px
					font-size: 29px
					border: 1px solid #eee
					padding: 4px 15px
				.sub-menu
					display: none
					min-width: inherit
					padding: 0
					border: 0
					+shadow(0, 0, 0, 0, rgba(0, 0, 0, 0))
					.show-submenu
						display: none

		.show-menu
			text-decoration: none
			text-transform: uppercase
			font-size: 18px
			i
				position: relative
				top: 1px
				font-size: 18px

+breakpoint(782px)
	.customize-support
		.header-menu
			margin-top: 46px

+breakpoint(620px)
	.header
		.slider
			li
				height: 420px
			h2
				font-size: 30px
			h3
				font-size: 40px
				line-height: 50px
			p
				font-size: 16px
			.btn
				a
					padding: 10px
					font-size: 11px
	.image-gallery
		&.grid .col-4
			width: 50%

+breakpoint(600px)
	div#wpadminbar
		position: fixed

+breakpoint(320px)
	.header
		.slider
			li
				height: 400px