{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html lang="sk-SK">
<head>
    <link rel="stylesheet" href="{{ siteUrl }}src/css/main.css">
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin-ext" rel="stylesheet">
</head>

<body>

<div class="container">
    <header>


        <a href="{{ siteUrl }}">
            <div class="logo">
                {% for image in craft.assets.id('5') %}
                    <img src="{{ image.url }}" alt="{{ image.title }}">
                {% endfor %}
            </div>
        </a>


        <h1>{{ siteName }}</h1>

    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <ul>
            <li><a href="#">Google Drive</a></li>
            <li><a href="#">Icomoon</a></li>
            <li><a href="#">Web</a></li>
            <li><a href="#">Kalendár</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </footer>
</div>

</body>
</html>
