<main class="section-tabs">
    <ul class="grid grid-30">

        {% set entries = craft.entries.section('obsahPlaybook').level('1') %}

        {% nav entry in entries %}
            <li class="col-4">
                <a href="{{ entry.url }}">
                    {% set thumbnail = entry.thumbnail.first() %}
                    <div class="section-tab" style="background-image: linear-gradient(rgba(1, 158, 211, 0.45),rgba(1, 158, 211, 0.75)), url('{{ thumbnail.url }}');">
                        <h2>{{ entry.title }}</h2>
                    </div>
                </a>
            </li>
        {% endnav %}

        <li class="col-4">

            {% set singleSection = craft.entries.first() %}

            <a href="{{ singleSection.url }}">
                <div class="section-tab">
                    <h2>{{ singleSection.title }}</h2>
                </div>
            </a>

        </li>

    </ul>
</main>

<article>

</article>
